# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem


 *.local

# Ignore the .env file (contains sensitive data)
.env

# Do not ignore .developer.env (example file)
!.developer.env

# typescript
*.tsbuildinfo

# Ignore JetBrains IDE Project files
.idea/
